<!DOCTYPE html>
<html th:replace="~{admin/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>요청 사항 집계</title>
</head>
<body>
    <section>
        <table>
            <thead>
                <tr>
                    <th th:text="#{label.action.index}"> Index </th>
                    <th th:text="#{label.action.date}"> 날짜 </th>
                    <th th:text="#{label.action.action}"> 행동 </th>
                    <th th:text="#{label.action.id}"> ID </th>
                    <th th:text="#{label.action.query}"> 추천인 ID </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="action : ${userMethods.content}">
                    <td th:text="${action.index}"></td>
                    <td th:text="${action.date}"></td>
                    <td th:text="${action.action}"></td>
                    <td th:text="${action.id}"></td>
                    <td th:text="${action.query}"></td>
                </tr>

            </tbody>
        </table>
        <div th:if="${userMethods.totalPages > 1}">
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(0, userMethods.totalPages - 1)}">
                    <a th:href="@{/admin/table(page=${i})}" th:text="${i} + 1"></a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>