<!DOCTYPE html>
<html th:replace="~{admin/layoutFile :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사전 예약 현황</title>
</head>
<body>


    <div class="page-wrapper">

        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">

                <form th:action method="get" th:object="${reservationSearchCond}">

                    <label for="start_date"></label>
                    <input id="start_date" type="date" th:field="*{startDate}"/>

                    <label for="end_date"></label>
                    <input id="end_date" type="date" th:field="*{endDate}"/>

                    <label for="name"> 이름 </label>
                    <input id="name" type="text" th:field="*{name}"/>

                    <label for="phone_number">휴대폰 번호</label>
                    <input id="phone_number" type="tel" th:field="*{phoneNumber}"/>

                    <label for="email">이메일</label>
                    <input id="email" type="email" th:field="*{email}"/>

                    <button type="submit"> 검색 </button>

                </form>

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table  class="table text-nowrap">
                                <thead>
                                <tr>
                                    <th class="border-top-0"> 프로필 사진 </th>
                                    <th class="border-top-0"> 날짜 </th>
                                    <th class="border-top-0"> 순번 </th>
                                    <th class="border-top-0"> 이름 </th>
                                    <th class="border-top-0"> 성별 </th>
                                    <th class="border-top-0"> 생일 </th>
                                    <th class="border-top-0"> 전화번호 </th>
                                    <th class="border-top-0"> 이메일 </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reservation : ${reservations.content}">
                                    <td><img th:src="${reservation.profile_image}"></td>
                                    <td th:text="${reservation.date}"></td>
                                    <td th:text="${reservation.id}"></td>
                                    <td th:text="${reservation.name}"></td>
                                    <td th:text="${reservation.gender}"></td>
                                    <td th:text="${reservation.birthday}"></td>
                                    <td th:text="${reservation.phone_number}"></td>
                                    <td th:text="${reservation.account_email}"></td>
                                </tr>

                                </tbody>
                            </table>
                            <div th:if="${reservations.totalPages > 1}">
                                <ul class="pagination">
                                    <li th:each="i : ${#numbers.sequence(0, reservations.totalPages - 1)}">
                                        <a th:href="@{/admin/reservation(page=${i})}" th:text="${i} + 1"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
    </div>

</body>
</html>