html {
    height: 100%;
}

body {

    width: 375px;
    margin: 0px auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    height: 100%;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

h2 {
    margin-top: 0px;
    white-space: pre-line;
    text-align: center;
    font-size: 32px;
}

.details {
    font-size: 15px;
    color: #8C8F98;
    margin-bottom: 10%;
}

.rank {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30%;
}

p {
    white-space: pre-line;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    text-decoration: none; /* 기본 링크 텍스트 스타일 제거 */
    background-color: #ffffff; /* 배경색 설정 */
    color: #000000; /* 텍스트 색상 설정 */
    border: 1px solid #E5E6EA; /* 테두리 설정 */
    border-radius: 3px; /* 둥근 모서리 설정 */
    text-align: center;
    cursor: pointer; /* 커서 스타일 설정 */
    transition: background-color 0.3s; /* 호버 효과 애니메이션 */
    margin-bottom: 5px;
    width: 60%;
    font-size: 15px;
}

/* 호버 효과 - 버튼 위로 마우스를 가져갈 때 배경색 변경 */
.button:hover {
    background-color: #E5EFFF;
}

/* 액티브 효과 - 버튼을 클릭할 때 배경색 변경 */
.button:active {
    background-color: #E5E6EA;
}