body {
    margin: 0px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between; /* 요소 사이의 간격을 최대화하여 오른쪽 정렬 */
    align-items: center;
}

nav p {
    margin: 0; /* 기본 마진 제거 */
    text-align: center; /* 가운데 정렬 */
    flex-grow: 1; /* 가용 공간을 모두 사용하여 가운데로 확장 */
    color: #2C2C2C;
    font-size: 17px;
    padding-left: 36px;
}

nav form button {
    /* 오른쪽 정렬 스타일 추가 */
    background: white;
    border: none;
    cursor: pointer;
}

nav form button img{
    width: 24px;
    height: 24px;
}


.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */

}


.middle {
    padding: 16px 16px 0px 16px;
}

.category {
    height: 20px;
    color: darkgray;
    margin: 0px;
    font-size: 13px;
}

.name {
    font-size: 18px;
    height: 27px;
    margin: 3px 0 3px 0;
    color: #2C2C2C;
}

.price_pre {
    font-size: 16px;
    color: darkgray;
    text-decoration: line-through;
    height: 24px;
    margin: 0px;
}

.price {
    height: 36px;
    margin: 0px;
}

.sale {
    color: #5B46FF;
    font-size: 24px;
    font-weight: bold;
}

.price_post {
    font-size: 24px;
    font-weight: bold;
}

.middle_buttons {
    margin: 20px 0px 20px 0px;
    display: flex;
}

.middle_buttons button {
    width: 168px;
    height: 40px;
    background: white;
    border: 1px solid lightgray; /* 1px 회색 테두리 추가 */
    border-radius: 5px;
    margin: 0px 5px 0px 5px;

    display: flex;
    justify-content: center; /* 가로 정렬 중앙 정렬 */
    align-items: center; /* 세로 정렬 중앙 정렬 */

    cursor: pointer; /* 커서 스타일 설정 */
    transition: background-color 0.3s; /* 호버 효과 애니메이션 */
}

.middle_buttons button:hover {
    background: #eeeeee;
}

.middle_buttons button:active {
    background: lightgray;
}

.middle_buttons button img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

.middle_buttons button p {
    font-size: 14px;
    color: #4E505B;
}

.brand {
    display: flex; /* 자식 요소를 수평으로 배치하기 위해 flex 컨테이너로 설정 */
    align-items: center; /* 자식 요소들을 수직으로 가운데 정렬 */
    margin: 20px 0px 20px 0px;
}

.brand h2 {
    height: 21px;
    font-size: 14px;
    color: #2C2C2C;
    margin: 0px;
}

.brand p {
    height: 19.5px;
    font-size: 13px;
    color: #8C8F98;
    margin: 0px;
}

.brand .logo {
    margin-right: 12px; /* 이미지와 텍스트 사이 간격 설정 (선택 사항) */
    width: 48px;
    height: 48px;
}

.brand-line {
    border: 8px solid #EEEFF3;
    margin: 0px;
}

.bottom {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 375px;
    background: white;
    border-top: 1px solid #EEEFF3;

    display: flex; /* 자식 요소들을 가로로 정렬하기 위한 flexbox 사용 */
    justify-content: center; /* 가로 정렬 중앙 정렬 */
    align-items: center; /* 세로 정렬 중앙 정렬 */

}

.bottom .gift {
    width: 280px;
    height: 47px;
    background: #5B46FF;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    border: none;

    cursor: pointer; /* 커서 스타일 설정 */
    transition: background-color 0.3s; /* 호버 효과 애니메이션 */
}

.bottom .gift:hover {
    background: rgb(71, 54, 206);
}

.bottom .gift:active {
    background: rgb(58, 46, 159);
}

.bottom .like {
    width: 50px;
    height: 52px;
    background: white;
    border: none;
    cursor: pointer;
}

.bottom .like img {
    width: 24px;
    height: 24px;
}

/* 슬라이드 쇼 컨테이너 스타일 */
.container section div.swiper {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* 슬라이드 페이지 번호 스타일 */
.container section .swiper-pagination {
    width: 30px;
    position: absolute;
    bottom: 20px;
    left: 310px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 15px;
}

.container-comment {
    padding: 20px;
}

.comment {

    margin-bottom: 60px;

}
