.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
}

/* 모달 백드롭 스타일 */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 어둡게 만드는 색상과 투명도 조절 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    display: none; /* 초기에는 숨김 */
}

/* 바텀시트 스타일 */
.bottom-sheet {
    position: fixed;
    bottom: -100%; /* 시작 위치를 아래로 설정 */
    left: 0;
    right: 0;
    background-color: white;
    transition: bottom 0.3s ease-in-out; /* 애니메이션 설정 */
    z-index: 1001; /* 모달 백드롭 위에 표시 */
    height: 545px;
    width: 375px;
    margin: 0 auto;
}

/* 아래서 위로 올라오는 애니메이션 클래스 */
.bottom-sheet.active {
    bottom: 0;
}

/* 슬라이드 쇼 컨테이너 스타일 */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* 이미지 슬라이드 스타일 */
.mySlides {
    display: none;
    width: 100%;
}

/* 슬라이드 페이지 번호 스타일 */
.slide-numbers {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

/* 이전/다음 버튼 스타일 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* 다음 버튼 스타일 */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* 버튼에 호버 효과 스타일 */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.myDiv {
    background-color: #007bff;
    height: 1500px;
}