spring:
  h2:
    console:
      enabled: true  # H2 Console을 사용할지 여부 (H2 Console은 H2 Database를 UI로 제공해주는 기능)
      path: /h2-console  # H2 Console의 Path

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/admin
    username: sa
    password: sa

  messages:
    basename: messages

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

kakao:
  client:
    id: d5b54589b2a05333f8907ff397d9960a
    secret: 7JrTbeqmwbUbM9MjWmt8tRgCI4DQIRsy

  redirect:
    url: http://localhost:8080/users/basket

upload:
  directory: C:/uploads/