spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/marketing
    username: root
    password: 1234

  messages:
    basename: messages

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

  profiles:
    active: local

kakao:
  client:
    id: 490c03e919869544279449cbbf4ef062
    secret: rm2e08iUqNrYMh222qWbfhpDBxcVX39a

  redirect:
    url: http://3.34.210.95:8080/users/basket

upload:
  directory: /uploads/