<!DOCTYPE html>
<html th:replace="~{admin/layoutFile :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 행동</title>
</head>
<body>

<div class="page-wrapper">

    <form th:action="@{/admin/chart}" method="get" th:object="${chartDto}">

        <label for="start_date"></label>
        <input type="date" id="start_date" th:field="*{start_date}">

        <label for="end_date"> - </label>
        <input type="date" id="end_date" th:field="*{end_date}">

        <button type="submit"> 조회 </button>

    </form>

    <canvas id="chart_line"></canvas>
    <canvas id="chart_bar"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">

        const line = document.getElementById('chart_line');
        const bar = document.getElementById('chart_bar');
        const datasets = [];
        const actions = [[${actions}]]; // 버튼 이름 배열
        const dates = [[${dates}]];
        const map = [[${map}]];
        console.log(actions);
        console.log(map);

        for (let i = 0; i < actions.length; i++) {

            const data = [];

            for (let j = 0; j < dates.length; j++){
                //console.log(map[dates[j]]);
                data.push(map[dates[j]][actions[i]]);
            }

            const actionsData = {
                label: actions[i],
                data: data,
                borderWidth: 1
            };

            datasets.push(actionsData);
        }


        new Chart(line, {
            type: 'line',
            data: {
                labels: dates,
                datasets: datasets
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        console.log(datasets);

        let data = [];

        for(let i=0; i<datasets.length; i++){
            let sum = 0;
            for(let j=0; j<datasets[i].data.length; j++){
                sum+=datasets[i].data[j];
            }
            data.push(sum);
        }

        new Chart(bar, {
            type: 'bar',
            data: {
                labels: actions,
                datasets: [{
                    label: '# of Clicks',
                    data: data,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
</div>

</body>
</html>