<!DOCTYPE html>
<html th:replace="~{admin/layoutFile :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>요청 사항 집계</title>
</head>
<body>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Basic Table</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Basic Table</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th th:text="#{label.action.index}" class="border-top-0"> Index </th>
                                            <th th:text="#{label.action.date}" class="border-top-0"> 날짜 </th>
                                            <th th:text="#{label.action.action}" class="border-top-0"> 행동 </th>
                                            <th th:text="#{label.action.id}" class="border-top-0"> ID </th>
                                            <th th:text="#{label.action.query}" class="border-top-0"> 추천인 ID </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="action : ${userMethods.content}">
                                            <td th:text="${action.index}"></td>
                                            <td th:text="${action.date}"></td>
                                            <td th:text="${action.action}"></td>
                                            <td th:text="${action.user.sessionId}"></td>
                                            <td th:text="${action.query}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div th:if="${userMethods.totalPages > 1}">
                                    <ul class="pagination">
                                        <li th:each="i : ${#numbers.sequence(0, userMethods.totalPages - 1)}">
                                            <a th:href="@{/admin/table(page=${i})}" th:text="${i} + 1"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
        </div>
</body>
</html>