<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>사전 예약 페이지</title>
    <link th:href="@{/css/user/reservation.css}" rel="stylesheet"/>
</head>
<body>

        <h2> 사전 등록해주셔서
            감사해요! </h2>
        <p class="details"> 서비스가 오픈되면,
            카카오톡으로 알려드릴게요. </p>
        <img src="/images/reservation_cat.svg"/>
        <p class="rank" th:text="|현재 ${reservation.id}등이에요.
        꼭 선물받으러오세요!|"></p>
        <button onclick="addChannel()" class="button"> ✨ 알림 받기 ✨ </button>
        <a class="button" th:href="@{/users}"> ✨ 서비스 구경하러 가기 ✨ </a>
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script type="text/javascript" th:src="@{/js/user/reservation.js}"></script>

</body>
</html>