<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
    Kakao.init('ffb1ac4b290c42a760a2af6a06801cba'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<!--<a id="add-channel-button" href="javascript:addChannel()">-->
<!--    <img src="/tool/resource/static/img/button/channel/add/channel_add_small.png"-->
<!--         alt="카카오톡 채널 추가하기 버튼" />-->
<!--</a>-->

<button id="addChannelButton">사전 예약에 참여하기</button>

<script>
    document.getElementById('addChannelButton').addEventListener('click', function() {
        // 사용자에게 권한을 요청합니다.
        Kakao.Auth.login({
            scope: 'talk_message',
        }).then(function() {
            // 사용자가 권한을 허용한 경우 채널 추가 요청을 보냅니다.
            Kakao.API.request({
                url: '/v1/api/talk/channel/add',
                data: {
                    channel_public_id: '_xavxjMs', // 채널의 공개 ID를 입력하세요
                },
                success: function(response) {
                    if (response.code === 200) {
                        alert('카카오톡 채널이 추가되었습니다!');
                    } else {
                        alert('채널 추가에 실패했습니다.');
                    }
                },
                fail: function(error) {
                    alert('채널 추가에 실패했습니다. 오류: ' + JSON.stringify(error));
                },
            });
        }).catch(function(error) {
            alert('권한 요청에 실패했습니다. 오류: ' + JSON.stringify(error));
        });
    });
</script>


</body>
</html>