<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/users/button1}" method="post">

        <button>버튼 1</button>

    </form>

    <form th:action="@{/users/button2}" method="post">

        <button>버튼 2</button>

    </form>

    <form th:action="@{/users/button3}" method="post">

        <button>버튼 3</button>

    </form>

    <form th:action="@{/users/button4}" method="post">

        <button>버튼 4</button>

    </form>

</body>
</html>