<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>크로플래닛</title>

    <link th:href="@{/css/user/user_page.css}" rel="stylesheet"/>
    <link rel="icon" href="/images/icon/logo.png">
</head>
<body>

    <div class="container">

        <!-- 네비게이션 정보 -->
        <nav>

            <p> 크로플래닛 </p>

            <form th:action="@{/users/login}" method="get">
                <button>
                    <img th:src="@{images/icon/basket.png}"/>
                </button>
            </form>
        </nav>

        <!-- 상품 이미지 -->
        <div class="slideshow-container" id="slideshow">
            <!-- 이미지 슬라이드 -->
            <div class="mySlides">
                <img src="images/img_1.png" style="width:100%">
            </div>

            <div class="mySlides">
                <img src="images/image2.png" style="width:100%">
            </div>

            <div class="mySlides">
                <img src="images/image3.png" style="width:100%">
            </div>

            <!-- 슬라이드 페이지 번호 표시 -->
            <div class="slide-numbers" id="slide-number">
                1/3
            </div>

            <!-- 이전/다음 버튼 -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="middle">

            <!-- 상품 정보 -->
            <div>

                <p class="category"> Make Dreams come true </p>
                <p class="name"> 크로플래닛 </p>
                <p class="price_pre"> 100,000원 </p>
                <p class="price">
                    <span class="sale"> 100% </span>
                    <span class="price_post"> 0원 </span>
                </p>
            </div>

            <!-- 공유하기 -->
            <div class="middle_buttons">
                <button onclick="like_top()">
                    <img th:src="@{images/icon/like.png}"/>
                    <p>120</p>
                </button>
                <button th:onclick="share([[${query}]])">
                    <img th:src="@{images/icon/share.png}"/>
                    <p>공유하기</p>
                </button>
            </div>

            <hr style="border: 1px solid #F4F5F8; margin: 0px ">

            <!-- 브랜드 정보 -->
            <div class="brand">
                <img th:src="@{/images/icon/logo.png}" class="logo">
                <div>
                    <h2> 크로플래닛 </h2>
                    <p> 크리에이터와 함께 하는 가치 소비 </p>
                </div>
            </div>


        </div>

        <hr class="brand-line">
        <div class="container-comment">
            <!-- 마케팅 설명 문구 -->
            <div class="comment" th:utext="${comment}"></div>

        </div>


        <div class="bottom">

            <!-- 구매하기 -->
            <button onclick="like_bottom()" class="like">
                <img th:src="@{/images/icon/like.png}"/>
            </button>
            <button onclick="buy()" class="gift">선물받기</button>

        </div>

        <!-- 설문조사 -->
        <div id="modalBackdrop" class="modal-backdrop"></div>
        <div id="bottomSheet" class="bottom-sheet">
            <p> 바텀시트 </p>
            <button onclick="post()">전달</button>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" th:src="@{/js/user/user_page.js}"></script>

</body>
</html>