nav {
    background-color: #333; /* 네비게이션 바 배경색 */
    width: 200px; /* 네비게이션 바 폭 조정 */
    height: 100%; /* 화면 높이에 맞추려면 100% 설정 */
    position: fixed; /* 화면 상단에 고정 */
    left: 0; /* 화면 왼쪽에 고정 */
    top: 0; /* 화면 상단에 고정 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 10px 20px; /* 네비게이션 항목 여백 조정 */
    text-decoration: none;
    color: #fff; /* 텍스트 색상 */
}

li a:hover {
    background-color: #555; /* 호버 시 배경색 변경 */
}

.container {
    margin-left: 200px;
}

#editor {
    width: 375px;
}

#editor img {
    width: 300px;
}

canvas {
    width: 30%;
}